# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
C:\Users\topis\Documents\Hotis hmn_coop_master_blueprint.html
C:\Users\topis\Documents\Hotis hmn_coop_updated_master_blueprint.html